/* Global */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;   
}

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
/* Link style */
a {
    text-decoration: none;
}

a:link, a:visited {
    background-color: #008C45;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
    
}

.container-fluid {
    width: 70%;
    max-width: auto;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

/* Header */

.header {
    width: 100%;
    position: right;
    top: 0;
    left: 0;
    height: 13rem;
    z-index: 1;
    background-color:rgb(255, 255, 255);
    
}

.logo {
    font-size: 4em;
    font-family: "Vivaldi";
    cursor: pointer;  
}

.logo:hover {
    color: red;
}

.nav-item {
    font-family: "Tempus SANS ITC";
    color: white;
    font-size:1.6rem;
    letter-spacing: 2px;
    margin-right:17px;
    
}
.nav-list {
    list-style: none;
    position:relative;
    top: 0;
    left: -11px;
    height: 100vh;
    
    flex-direction:row;
    display: flex;
    text-align: center;
    justify-content:space-between;
    

}
.nav-link:hover {
    color: red;
}

/*Hero*/

.hero {
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/hero.png") center no-repeat;
}
.italian-flag{
    position: center;
    display: block;
}

