/* Global */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;   
}

body {
    font-family: "Times new roman",sans-serif;
    overflow-x: hidden;
    margin: 0%;
    background-color: #f9f9f9;
}
/* Link style */
a {
    text-decoration: none;
}

a:link, a:visited {
    background-color: #026835;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2.4rem;
    
}

.container-fluid {
    
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

/* Header */

.header {
    width: 100%;
    position: center;
    top: 0;
    left: 0;
    height: 150px;
    z-index: 1;
    background-color:#026835;
    
}

.logo {
    
    font-size: 6rem;
    font-family: "Times new roman";
    cursor: pointer;  
    padding-right: 4rem;
}

.logo:hover {
    color: red;
}

.nav-item {
    font-family: "Times new roman";
    color: white;
    font-size:2rem;
    letter-spacing: 2px;
    
    
}
.nav-list {
    
    padding-left:20%;
    padding-right: 20%;
    flex-direction:row;
    display: flex;
    align-items: center; 
    justify-content:space-between;
    

}
.nav-link:hover {
    color: red;
}

/*Hero*/

.hero {
    width:100%;
    height:90rem;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/hero.png") center no-repeat;
    background-size:cover;
    background-attachment: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 4rem;
    font-family: "Cormorant Garamond";
    color: #fff;    
}

.go-top {
    position:fixed;
    width:2rem;
    height:3rem;
    bottom:2rem;
    right:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.go-top:hover {
    color:red;
}

.title{
    text-align: center;
    font-family: "Vivaldi";
}

/*OFFERS*/

.offers{
    align-items: center;
    width:97%;
    background-color: #f9f9f9;
    padding-bottom: 8rem;
    
}

.section-title{
    text-align: center;
    font-size: 4rem;
    font-family:"Cormorant Garamond";
    padding:5rem;
}

.three-collums-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5rem;
    margin:0 auto;
    text-align: center;
}

.two-collums-grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:5rem;
    margin:0 auto;
    text-align: center;
}

.food-item{
    font-size:3rem;
    font-family:"Cormorant Garamond"
}

.food-desc{
    margin-top:2rem;
    font-size: 1.5rem;

}

.allergen{
    font-size: 1.25rem;
}
